{% extends 'challenge/base.html' %}
{% load static %}
{% block content %}
    <div class="challenge">
        <table class="teste2" width="800px" align="center">
            <tr>
                <td><img  width="90" height="90" src="{{ challenge.image.url }}"/></td>
    
                <td colspan="4"> 
                <h1>{{ challenge.title }}</h1><br>
                    {{ challenge.description|linebreaksbr }}</p></td> 
                <td align="left"><img  width="90" height="90" src="{% static 'star.jpeg' %}"/>  
                <td rowspan="4">
                    {% if user.is_authenticated %}
    	                <a class="btn btn-default" href="{% url 'challenge:challenge_edit' pk=challenge.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span></a>
	                {% endif %}
                </td>               
            </tr>
            <tr> 
                <td colspan="6" align="center"> </td> 
            </tr>
            <tr>
                <td colspan="2">Pontos por evento : {{ challenge.points_events }}</td>
                <td colspan="2" align="center">Total de eventos : {{ challenge.total_events }}</td> 
                <td align="right">Objetivo a ser alcancado : {{ challenge.goal }}</td>              
            </tr>
            <tr> 
                <td colspan="6" align="center"> </td> 
            </tr>
            <tr>
                <td colspan="2">Eventos conquisados : {{ challenge.points_events }}</td>
                <td colspan="2" align="center"> </td> 
                <td align="right">Pontos conquisados  : {{ challenge.goal }}</td>              
            </tr>
        </table>  
    </div>
{% endblock %}
